header {
    background-color: black;
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

footer {
    background-color: gray;
    text-align: center;
    margin-top: auto;
    padding: 8px;
}

.logo img{
    height: 170px;
}