.restaurant-name {
    color: red;
    text-align: center;
}

.restaurant {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    width: 600px; 
    border: 2px solid red;
    overflow: hidden !important; 
}
  
.nav {
    width: 100% !important;
    justify-content: space-around !important;
    background-color: black; 
}
  
.nav-item {
    background-color: black !important;
    font-size: 20px;
}
  
.nav-link {
    color: red !important;
    background-color: black !important;
    transition: all 0.3s ease; 
}
  
.nav-link.active {
    color: black !important;
    background-color: red !important;
}
  
.nav-link:hover {
    color: black !important; 
    background-color: red !important; 
}
  
.tab-content {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    width: 100% !important;
    height: 100%; 
    margin-bottom: 20px !important;
}
  
.tab-content img {
    max-width: 100% !important;
    height: 400px;
    width: 600px;
}

.map {
    width: 600px; 
    height: 500px; 
}
  
.tab-content iframe {
    width: 100%;
    height: 100%;
}

.btn-cnt {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.btn {
    margin: 0 8px;
    color: red !important;
    background-color: black !important;
    transition: all 0.3s ease; 
    font-size: 20px !important;
}

.btn:hover {
    color: black !important; 
    background-color: red !important; 
}


